<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Bienvenido {{userService.userName}}!</h1>
  <ion-button (click)="logOut()">CERRAR SESION</ion-button>
  <ion-button (click)="librosService.obtenerLibros()">Obtener Libros</ion-button>
  <div *ngFor="let libro of librosService.libros">
    <p>Año: {{libro.anio}}</p>
    <p>Autor: {{libro.autor}}</p>
    <h4>Titulo: {{libro.titulo}}</h4>
  </div>
</ion-content>
